{% extends "base.html" %}
{% block title %}
	Categories
{% endblock title %}	

{% block body %}

	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-5 m-20">

		<div class="rounded-lg shadow-lg  h-50 bg-gradient-to-br from-[#2e2f8f] to-[#121357] flex flex-col p-3 gap-5">
			<div class="flex flex-row items-center gap-3 text-white">
				<img width="50px" height="50px" src="{{url_for('static',filename = '/assets/high-score-img.png')}}" alt="High Score Image">
				<h1 class="">Science & Nature</h1>
			</div>
			{% if current_user.highest_score is none %}
			<h1 class="text-[64px] text-white">0</h1>
			{% else %}
			<h1>{{current_user.highest_score}}</h1>
			{% endif %}
			
			<a href="{{ url_for('start_quiz', category = 'Science & Nature') }}">Click Here</a>
		</div>
		<div class="rounded-lg shadow-lg  h-50 bg-gradient-to-br from-[#2e2f8f] to-[#121357] flex flex-col p-3 gap-5">
			<div class="flex flex-row items-center gap-3 text-white">
				<img width="50px" height="50px" src="{{url_for('static',filename = '/assets/high-score-img.png')}}" alt="High Score Image">
				<h1 class="">High Score</h1>
			</div>
			{% if current_user.highest_score is none %}
			<h1 class="text-[64px] text-white">0</h1>
			{% else %}
			<h1>{{current_user.highest_score}}</h1>
			{% endif %}
		</div>
		<div class="rounded-lg shadow-lg  h-50 bg-gradient-to-br from-[#2e2f8f] to-[#121357] flex flex-col p-3 gap-5">
			<div class="flex flex-row items-center gap-3 text-white">
				<img width="50px" height="50px" src="{{url_for('static',filename = '/assets/high-score-img.png')}}" alt="High Score Image">
				<h1 class="">High Score</h1>
			</div>
			{% if current_user.highest_score is none %}
			<h1 class="text-[64px] text-white">0</h1>
			{% else %}
			<h1>{{current_user.highest_score}}</h1>
			{% endif %}
		</div>
		<div class="rounded-lg shadow-lg  h-50 bg-gradient-to-br from-[#2e2f8f] to-[#121357] flex flex-col p-3 gap-5">
			<div class="flex flex-row items-center gap-3 text-white">
				<img width="50px" height="50px" src="{{url_for('static',filename = '/assets/high-score-img.png')}}" alt="High Score Image">
				<h1 class="">High Score</h1>
			</div>
			{% if current_user.highest_score is none %}
			<h1 class="text-[64px] text-white">0</h1>
			{% else %}
			<h1>{{current_user.highest_score}}</h1>
			{% endif %}
		</div>
		<div class="rounded-lg shadow-lg  h-50 bg-gradient-to-br from-[#2e2f8f] to-[#121357] flex flex-col p-3 gap-5">
			<div class="flex flex-row items-center gap-3 text-white">
				<img width="50px" height="50px" src="{{url_for('static',filename = '/assets/high-score-img.png')}}" alt="High Score Image">
				<h1 class="">High Score</h1>
			</div>
			{% if current_user.highest_score is none %}
			<h1 class="text-[64px] text-white">0</h1>
			{% else %}
			<h1>{{current_user.highest_score}}</h1>
			{% endif %}
		</div>
		

	</div>


{% endblock body %}